*{
    box-sizing:border-box;
}

img {
    max-width: 100%;
}

@media screen and (max-width:900px) {
   
    body {
        background:lightgoldenrodyellow;
    }

    .flexible {
        border:1px solid;
        max-width:80%;
    }

}

@media screen and (max-width:600px) {

    body{
        background:lightgreen;

    }

    .flexible {
        max-width:100%;
    }
}